body,html {
    background-color: #f4f4f4;
    height: 100%;
    font-size: 10.66px;
    padding:0;
    margin:0;
    -webkit-tap-highlight-color: transparent;
}

.zaly_container {
    padding:0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/login_bg.png");
}
.zaly_login{
    width:75rem;
    height:47rem;
    background:rgba(255,255,255,1);
    /*box-shadow:0rem 0.83rem 1.25rem 0.42rem rgba(74,56,180,1);*/
    border-radius:0.83rem;
    position:relative;
    overflow: hidden;
}

.login_input_div {
    width: 28rem;
    height:100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.login_name_div{
    height:4rem;
    position: relative;
    font-size:1.88rem;
    font-family:PingFangSC-Regular;
    color:rgba(20,16,48,1);
    margin-top: 5rem;
}

.input_login_site {
    height: 4rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto 0;
    margin-left: 3rem;
    width: 25rem;
}

.img {
    width: 2rem;
    height:2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto 0;
    margin-bottom:  1rem;
}

.pwd, .repwd , .clearLoginName{
    width: 2rem;
    height: 1rem;
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.register_span_div {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    font-size:1.69rem;
    font-family:PingFangSC-Regular;
    color:rgba(76,59,177,1);
    cursor: pointer;
}

.login_span_div {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    font-size:1.69rem;
    font-family:PingFangSC-Regular;
    color:rgba(76,59,177,1);
    cursor: pointer;
}

.margin-top6{
    margin-top: 6rem;
}

.margin-top5{
    margin-top: 5rem;
}

.margin-top3{
    margin-top: 3rem;
}

.margin-top8{
    margin-top: 8rem;
}

input,
.register_site {
    font-size:1.88rem;
    font-family:PingFangSC-Regular;
    color:rgba(223,223,223,1);
    vertical-align:middle;
    outline: none;
    border-style:none;
}

.input_login_site::-webkit-input-placeholder,
input::-webkit-input-placeholder,
.register_site::-webkit-input-placeholder{
    font-size:1.31rem;
    font-family:PingFangSC-Regular;
    color:rgba(223,223,223,1);
    vertical-align:middle;
    width: 25rem;
}


input:focus,
input:active,
.register_site:focus,
.register_site:active {
    color:rgba(20,16,48,1);
    font-size: 1.69rem;
}

.margin-bottom5 {
    margin-bottom: 5px;
}

.login_phone_tip_font{
    height:3.75rem;
    font-size:2.63rem;
    font-family:PingFangSC-Regular;
    color:rgba(76,59,177,1);
    line-height:3.75rem;
    vertical-align:middle;
}
.input_phone_div {
    width:28.14rem;
    margin-left: 23rem;
    justify-content: space-between;
}

.login_input_verify_code {
    border-style:none;
    outline: none;
    width: 12rem;
    font-size:1.88rem;
    font-family:PingFangSC-Regular;
    color:rgba(223,223,223,1);
    line-height:1.88rem;
    vertical-align:middle
}

.login_input_verify_code:focus,
.login_input_verify_code:active{
    color:rgba(20,16,48,1);
}

.login_name_div {
    margin-top: 1rem;
}
.color-white {
    color: white;
}

.black {
    color:rgba(20,16,48,1);
}

.reset_pwd_button,
.reset_pwd_button:hover,
.reset_pwd_button:focus,
.reset_pwd_button:active,
.register_button,
.register_button:hover,
.register_button:focus,
.register_button:active,
.register_code_button,
.register_code_button:hover,
.register_code_button:focus,
.register_code_button:active,
.login_button,
.login_button:hover,
.login_button:focus,
.login_button:active{
    margin-top: 5rem;
    width:28.14rem;
    height:4.69rem;
    background:rgba(76,59,177,1);
    border-radius:0.66rem;
    outline: none;
    cursor: pointer;
}

.register_next_btn,
.register_next_btn:hover,
.register_next_btn:focus,
.register_next_btn:active{
    margin-top: 6rem;
    width:28.14rem;
    height:4.69rem;
    background:rgba(216,216,216,1);
    border-radius:0.66rem;
}

.btn-disable-color,
.btn-disable-color:hover,
.btn-disable-color:focus,
.btn-disable-color:active{
    background-color: white;
}

.span_btn_tip {
    width:3.33rem;
    height:1.67rem;
    font-size:1.67rem;
    font-family:PingFangSC-Regular;
    color:rgba(255,255,255,1);
    line-height:1.67rem;
    vertical-align:middle
}

.btn-enable-color,
.btn-enable-color:hover,
.btn-enable-color:focus,
.btn-enable-color:active{
    background:rgba(76,59,177,1);
    outline: none;
}

.line {
    width:28.14rem;
    height:0.1rem;
    margin:0px auto;
    background:rgba(153,153,153,1);
    border-radius:0.42rem;
    overflow:hidden;
}

.outline{
    border:1px solid rgba(76,59,177,1);
    width:24rem;
    margin-left:4rem;
}
.forget_input_code{
    width: 8rem;
}

.get_verify_code{
    bottom: 0.5rem;
    font-size:1.88rem;
    font-family:PingFangSC-Regular;
    color:#4C3BB1;
    right: 0;
    position: absolute;
    cursor: pointer;
}

@media (max-width: 500px) {
    .zaly_login {
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,1);
        /* box-shadow: 0rem 0.83rem 1.25rem 0.42rem rgba(74,56,180,1); */
        border-radius: 0rem;
        position: relative;
        overflow: hidden;
    }
    .back {
        display:none;
    }
    .login-header {
        display:none;
    }
    .login_name_div {
        margin-top: 7rem;
    }
}